header > div {width: 940px; margin: 0 auto;}
header > div:first-child {background: orange; padding: 1rem;}
header > div:last-child {background: yellow; padding: 1rem;}
header > div:last-child a {margin: 3rem;}

main {width: 940px; margin: 0 auto; padding: 1rem; border: 1px solid; display: flex;}
main > div {width: 660px;}

main .border-list {display: flex; flex-wrap: wrap; align-content: space-evenly;}
main .border-item {width: 310px; display: flex; margin: .5rem; border: 1px solid black;}
main .border-item img {margin-right: 2rem;}
main .border-item p{border: 1px solid black;}

main .banner-lower {text-align: center;}

aside button {padding: 50px 80px;}
footer {width: 940px; padding: 1rem; text-align: center; margin: 0 auto; background: orange;}